# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
src/waysome

.ycm_extra_conf.py*

*.backup

# Other build environment related stuff
CMakeCache.txt
CMakeFiles
Makefile
CTestTestfile.cmake
cmake_install.cmake
*.stamp

# Test related stuff
Testing

#
# Directory where the gentle programmer can put her/his utility snippets when
# working with the codebase.
#
# For example, you can put vim scripts in there when working with vim, so you
# can load them into your vim session and do work for you.
#
./u
./u/*

*.todo

#
# vim gitignores
#
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

#
# Sublime text gitignore
#
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
sftp-config.json

#
# emacs gitignore.
#
#-*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

#
# Kate gitignore
#
.*.kate-swp
.swp.*

#
# documentation
#
doc/gen/*

#
# Generated test (binary) files
#
*.test
